/node_modules
*backup/*
*.pem
*.log
*OneDrive
/public/teampictures/*
/public/teamlogos/*
!/public/teamlogos/default_logo.png
/public/presentations/*
!/public/teampictures/default.jpg
/public/certificates/*
/keytokens.yaml
/mongo_backups/*
