<body>
    <h2>Welcome to Tournament-Planner</h2>
    <h3>Hier klicken zum <b> <a href="/team/list"> Manschaften anzeigen</a></h3></b>
    <h3>Hier klicken zum <b> <a href="/schedule/list"> Spielplan anzeigen</a></h3></b>
    <h3>Hier klicken zum <b> <a href="/schedule/grouplist"> Gruppen anzeigen</a></h3></b>

    <h3>Hier klicken zum <b> <a href="/game/live"> Live Game</a></h3></b>

    <br>
    <br>
    <h3>Hier klicken zu <b> <a href="/mainSettings"> Haupteinstellungen</a></h3></b>
</body>

</html>