<body>
    <div class="container mt-5">
        <h2>Welcome to Tournament Planner</h2>
    </div>
    This webapp enables you to manage your tournament and display the live game on a second screen.

    <br><br>
    
</body>

</html>