<section style="text-align: center; margin-top: 20px; margin-bottom: 40px;">
    <h1 style="font-size: 36px; margin-bottom: 20px;">Groups List</h1>

    {{#each teamsByGroup}}
        <h2 style="font-size: 28px; margin-bottom: 10px;">Group {{groupName}}</h2>
        <table style="margin: 0 auto; width: 80%; border-collapse: collapse;">
            <thead>
                <tr style="background-color: #f2f2f2; height: 40px;">
                    <th style="width: 50%; border: 1px solid #ddd; font-size: 18px;">Team Name</th>
                    <!-- Add more table headers as needed -->
                </tr>
            </thead>
            <tbody>
                {{#each teams}}
                    <tr style="border: 1px solid #ddd; height: 30px;">
                        <td style="border: 1px solid #ddd; font-size: 16px;">{{this.name}}</td>
                        <!-- Display other team information as needed -->
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/each}}
</section>
