<h1>New User Registration</h1>
    <form action="/user/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="admin">Admin</option>
            <option value="beamer">Beamer</option>
            <option value="TV">TV</option>
            <option value="speaker_booth">Speaker Booth</option>
        </select><br><br>
        <button type="submit">Register</button>
    </form>